<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta property="og:title"  th:attr="content=${news.title}"/>
    <meta property="og:image"  th:attr="content=${news.coverUrl}" />
    <title>知識網</title>
</head>
<body>
<div>
<script th:inline="javascript">
    
  //  console.log(message);
    window.onload = function() {
    	var id = [[${news.id}]];
    	console.log(id);
        window.location.href = 'https://www.upknowledge.com.hk/#/infoDetail?id='+id
    }
</script>

</div>
</body>
</html>
