<style>
.tpl-table-list-select {
	text-align: left;
	width: 470px;
}

#statusChange {
	width: 350px;
}
.am-u-sm-4,label,input{
	padding-right:0px !important;
	padding-left: 0px !important;
}

.label-weight{
	font-weight: bold;
} 
.fabu{
	padding-right: 3% !important;
}
.am-left{
	float:left;
}
.table-top-border{
	border-top: 1px solid #eef1f5;
	padding-top:10px;
	padding-bottom:10px;
}
.headimg {
    width: 55px;
    height: 55px;
}
</style>
<div class="row-content am-cf">
	<div class="row">
		<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
			<div class="widget am-cf">
				<div class="widget-head am-cf">
					<div class="widget-title  am-cf">用戶管理</div>
				</div>
				<div class="widget-body  am-fr">
					<div class="am-u-sm-12">
						<div class="am-u-sm-12 am-u-lg-3">
							<div class="am-u-sm-4 label-weight">
								用戶名：
							</div>
							<div class="am-u-sm-8">
								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
									<input type="text" class="am-form-field" placeholder="用戶名" id="nickname" th:value="${nickname}" />
								</div>
							</div>
						</div>
						
						<input type="hidden" id="sort" name="sort" th:value="${sort}"/>
						<input type="hidden" id="isAsc" name="isAsc" th:value="${isAsc}"/>
	
						<div class="am-u-sm-12 am-u-lg-3">
							<div class="am-u-sm-4 label-weight">
								學校：
							</div>
							<div class="am-u-sm-8">
								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
									<input type="text" class="am-form-field" placeholder="學校" id="school" th:value="${school}"/>
								</div>
							</div>
						</div>
						<div class="am-u-sm-12 am-u-lg-3">
							<div class="am-u-sm-4 label-weight">
								聯絡電話：
							</div>
							<div class="am-u-sm-8">
								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
									<input type="text" class="am-form-field" placeholder="聯絡電話" id="phone" th:value="${phone}" />
								</div>
							</div>
						</div>
						<div class="am-u-sm-12 am-u-lg-3">
							<div class="am-u-sm-4 label-weight">
								註冊郵箱：
							</div>
							<div class="am-u-sm-8">
								<div class="am-form-group am-input-group-sm tpl-form-border-form cl-p">
									<input type="text" class="am-form-field" placeholder="Email" id="email" th:value="${email}"/>
								</div>
							</div>
						</div>
					</div>
					<div class="am-u-sm-12" style="padding-bottom:10px;">
						<div class="am-u-sm-12 am-u-lg-3" style="float:left;">
							<div class="tpl-table-list-select">
								<div>
									<button class="am-btn am-btn-primary am-btn-sm am-round"
										type="button" onclick="search()">搜索</button>
									<button class="am-btn am-btn-warning am-btn-sm am-round"
										type="button" onclick="allEmpty()">清空</button>
								</div>
							</div>
						</div>
					</div>
					
					
					
					<div class="am-u-sm-12 table-top-border">
						<div class="am-u-sm-12 am-u-md-3 am-u-lg-1">
							<div class="am-form-group">
								<div class="am-btn-toolbar">
									<div class="am-btn-group am-btn-group-xs">
										<button shiro:hasPermission="member:excel" type="button" class="am-btn am-btn-warning"
											onclick="javascript:window.location.href='member/export';">
											<span class="am-icon-download"></span> 導出
										</button>
									</div>
								</div>
							</div>
					</div>
						
						
						
					<div class="am-u-sm-12 table-top-border">
						</div>

						<table width="100%"
							class="am-table am-table-compact am-table-striped tpl-table-black "
							id="example-r">
							<thead>
								<tr>
									<th>頭像</th>
									<th>註冊郵箱</th>
									<th>用戶名</th>
									<th>性別</th>
									<th>學校</th>
									<th>年班</th>
									<th>註冊時間<div id="click-sort"><div id="sort-asc" onclick="sortAsc('register_time');" th:style="${(sort eq 'register_time' && isAsc eq 'true') ? 'color:#666565' : ''}"><i class="am-icon-sort-asc"></i></div><div  id="sort-desc" onclick="sortDesc('register_time');" th:style="${(sort eq 'register_time' && isAsc eq 'false') ? 'color:#666565' : ''}"><i class="am-icon-sort-desc"></i></div></div></th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr class="gradeX" th:each="record,recordStat:${page.records}">
									<td class="am-text-middle">
										<img th:if="${(record.headPortraitUrl == null || record.headPortraitUrl == '') && record.sex == 1}" src="static/ui/img/deer.svg" class="headimg"/>
										<img th:if="${(record.headPortraitUrl == null || record.headPortraitUrl == '') && record.sex != 1}" src="static/ui/img/tigger.svg" class="headimg"/>
										<img th:if="${record.headPortraitUrl != null}" th:src="@{${record.headPortraitUrl}}" class="headimg" alt=""/>
 									</td>
									<td class="am-text-middle" th:text="${record.email}"></td>
									<td class="am-text-middle" th:text="${record.nickname}"></td>
									<td class="am-text-middle">
										<span th:if="${record.sex==0}">男</span>
										<span th:if="${record.sex==1}">女</span>
										<span th:if="${record.sex==2}">保密</span>
									</td>
									<td class="am-text-middle" th:text="${record.school}"></td>
									<td class="am-text-middle" th:text="${record.grade}"></td>
									<td class="am-text-middle" th:text="${#dates.format(record.registerTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
									<td class="am-text-middle">
										<div class="tpl-table-black-operation">
											<a href="javascript:;" th:onclick="'javascript:loadPage(\'member/'+${record.id}+'/select\',);'"> <i class="am-icon-eye"></i> 查看</a>
										</div>
									</td>
								</tr>
								<!-- more data -->
							</tbody>
						</table>
					</div>
					<div class="am-u-lg-12 am-cf">

						<div class="am-fr">
							<ul class="am-pagination tpl-pagination">

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
	<![CDATA[
	 	$('select').selected();
	 	function params(sort,isAsc) {
		 	var nickname = $('#nickname').val();
			var school = $('#school').val();
			var phone = $('#phone').val();
			var email = $('#email').val();
			
			if($("#sort").val()!=null && sort==null){
				sort=$("#sort").val();
			}
			
			if($("#isAsc").val()!=null && isAsc==null){
				isAsc=$("#isAsc").val();
			}
			
			var jsonParam = {
				"nickname":nickname,
				"school":school,
				"phone":phone,
				"email":email,
				"sort":sort,
				"isAsc":isAsc
			}
			return jsonParam;
		}
	 	
		initPageToJson([[${page.pages}]],[[${page.current}]],'member/listUI',params());
	    
		function search(){
			loadPageToJson('member/listUI',params());
		}
		
		function allEmpty() {
			$("#nickname").val('');
			$("#school").val('');
			$("#phone").val('');
			$("#email").val('');
			
			$("#sort").val('id');
			$("#isAsc").val('false');
			
			$(".empty").removeAttr('value');
		}
		
		
		function sortAsc(clum) {
			$("#sort-desc").css("color","#c0bfbf");
			$("#sort-asc").css("color","#666565");
			loadPageToJson('member/listUI',params(clum,true));
			console.log(params(clum,true))
		}
		
		function sortDesc(clum) {
			$("#sort-desc").css("color","#666565");
			$("#sort-asc").css("color","#c0bfbf");
			loadPageToJson('member/listUI',params(clum,false));
			console.log(params(clum,false))
		}
		
		
		]]>
	</script>

