<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.knowledge.common.business.draft.mapper.TbCollectionDraftManageDao">

	<!-- 开启二级缓存 <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.knowledge.common.business.draft.entity.TbCollectionDraftManage">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="release_user" property="releaseUser" />
		<result column="release_time" property="releaseTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="status" property="status" />
		<result column="cover_url" property="coverUrl" />
		<result column="enclosure_url" property="enclosureUrl" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, title, content, release_user AS releaseUser,
		release_time AS
		releaseTime, update_user AS updateUser, update_time AS
		updateTime,
		status, cover_url AS coverUrl, enclosure_url AS
		enclosureUrl
	</sql>

</mapper>
