<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowledge.admin.base.resourcerole.mapper.TbResourcesRoleMapper">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.knowledge.admin.base.resourcerole.entity.TbResourcesRole">
		<id column="id" property="id" />
		<result column="s_id" property="sid" />
		<result column="r_id" property="rid" />
		<result column="t_create_time" property="createTime" />
	</resultMap>

</mapper>
